.navber{

    background-color: #1a187a;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 40px;
    color: white;
}

.logo{

    width: 320px;
    /* height: 100px; */
}
.but{
    height: 50px;
    width: 400px;
    border-radius: 7px;
}
.menu{
    gap: 30px;
    padding-left: 30px;
}
.icons{
    padding-left: 30px;
}
.usr{
    padding-left: 30px;
}
.navv{
    background-color: #1a187a;
}
.w1{
    opacity: 0.5;
}
/* /////////////////////////////////////////////  for mobile view  // //////////////////////////////////////////////////////////////////////// */
.lgo{
    width: 220px;
}
.nv{
    display: flex;
    align-items: center;
    background-color: #1a187a;
    justify-content: space-around;
    color: white;
}

/* ///////////////////////////////  slider ///////////////////////////////////////////////////////////// */
.i1{
    height: 300px;
    width: 300px;
    align-items: end;
}








.ipd{
    width: 330px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 80px;
}
.writee{
    font-size: 15px;
}
.h-phn{
    width: 240px;
    margin: 10px;
    margin-right: 130px;
    padding-left: 30px;
}
.iippdd{
    gap: 1px;

}
.ipd-w{
    padding: 40px;
}
.products{
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}
.i-pad{
    background-color: white;
    align-items: center;
}
.air-pods{
    background-color: #adc2d7;
    align-items: center;
}
.wr{
    font-size: 35px;
}
.macbook{
    background-color: #ededed;
    align-items: center;
}
.mac{
    width: 400px;
}
.shop{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    border-radius: 7px;
    background-color: #27448e;
}
.wr111{font-size: 40px;}










.pro1{
    background-color: aqua;

}
.ddiv{
    border-radius: 5px;
    margin: px;
    width: 200px;
}
.q{
    height: 150px;
    width: 150px;
    background-color: aqua;
}

.brows{
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 40px;
}
.bbbb{background-color: #fafafa; padding-bottom: 50px;}

.brows-icn{font-size: 100px; padding-bottom: 10px;}
.brows-icnn{font-size: 100px; padding-bottom: 10px;}
.brows-icnnn{font-size: 100px; padding-bottom: 10px;}

.h{background-color: #ededed; border-radius: 9px; padding-bottom: 7px; text-align: center; padding-top: 15px;}








.n-b-f{ gap: 45px; padding-top: 50px;}

.iphn{ height: 250px; width: 220px; margin-top: 40px; margin-bottom: 20px;}

.btt{ background-color: black; color: white; border-radius: 6px; margin-bottom: 19px; margin-top: 6px; padding-left: 35px;
padding-right: 35px; padding-top: 9px; padding-bottom: 9px;}

.c1{
    text-align: center; margin-bottom: 10px; background-color: #f6f6f6; border-radius: 10px;}

.iphnn{ height: 220px; width: 200px; }
.c2{
    .iphn{
        height: 220px;
        width: 200px;
    }
    text-align: center;
    background-color:  #f6f6f6;
    margin-bottom: 10px;
    border-radius: 10px;

}










.p1{
    height: 300px;
    width: 400px;
}
.p2{height: 300px; width: 450px;}
.pic3{
    display: flex;
    justify-content: end;
}
.div3{
    padding-top: 30px;
    background-color: #958ad4;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.pic2{
    text-align: center;
}
.el{
    font-size: 32px;
    font: bold;
}
.wr-11{
    font-size: 18px;
}








.iq{
    font-size: 30px;
    margin: 10px;
}


.foot-rght{
    gap: 230px;
}

.fot-mob{
    text-align: center;
}

.write{
    margin-bottom: 30px;
}
.foooooot{ background-color: #1e1e1e; }
.fot{background-color: #1e1e1e; color: white; padding-top: 85px; padding-bottom: 75px;}